body {
  background: #f1f1f1;
  text-align: center;
  font-family: Arial, sans-serif;
}

h3 {
	margin-bottom: 20px;
	font-size: 40px;
}

.changeBox {
	border: 1px dashed #008000;
	padding: 20px;
}

.changeBox p {
	width: 300px;
	margin: 0 auto;
	text-align: right;
}

input[type="text"] {
	padding: 5px;
	height: 19px;
	font-size: 13px;
	margin-left: 10px;
	margin: 5px;
}

.error {
	color: red;
	font-weight: bold;	
}


.addButton {
	height: 33px;
	width: 100px;
	padding: 10px;
	margin-left: 3px;
}

button:hover{
	cursor: pointer;
}

ul { 
	list-style: none;
	clear: both;
}

ul li {
	margin: 10px auto;
	width: 300px;
	text-align: left;
	border-bottom: 1px solid #666;
	padding: 5px;
}

ul li button {
	float: right;
	border: 1px solid #f1f1f1;
	background: #f1f1f1;
}

ul li button:hover {
	border: 1px solid sandybrown;
}